    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

<style>
    body {
        background-color: #f8f9fa !important;
    }
    .body-content {
        margin-top:50px;
    }
    .wrap-box {
        padding: 30px;
        background: white;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        @Html.ActionLink("Leonardos Pizzaria", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            @Html.Partial("_LoginPartial") 
        </div>
    </div>
</nav>

 
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Leonardos Pizzaria - CVR 12131415 - Kontakt Azat_2600@hotmail.com</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
